<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mx.mdroid.recorder.theme.dark"
    android:versionCode="1"
    android:versionName="1.0">

    <overlay
        android:targetPackage="org.lineageos.recorder"
        android:priority="1"
        android:category="android.theme.dark"/>

    <application android:label="@string/recorder_overlay_dark" android:hasCode="false"/>
</manifest>
